@model IAR.Models.GoalModel

<div>
	<h4>Goal Addition Failure</h4>
	<hr />

	<dl class="row">
		<dd class="col-sm-10">
			Goal to this Activity is already exist.
		</dd>
	</dl>
</div>

<div>    
    <a asp-action="AddNewGoal">Back to New Goal page</a>
</div>
